<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Ничего не найдено</h3>
    </div>
    <div class="panel-body">
        Нужно попробовать что-нибудь найти
    </div>
</div>
