<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/"><span class="text-warning">#</span> Octotorp</a>

        <div class="navbar-right col-md-6 search"></div>
    </div>
</nav>

<div class="container">
<header class="page-header">
    <h1 class=""><span class="text-warning">#</span> <a href="/">Octotorp</a><sup><a href="#footnote" class="text-muted">*</a></sup> <small>yet another hashtag search</small></h1>
</header>

<div class="result"></div>

<footer class="footer">
    <p class="text-muted"><span id="footnote">*</span> знак решётки (от лат. <em>octothorp</em> — восемь концов). Буква «h» потерялась, чтобы в слове было ровно восемь букв</p>
</footer>
</div>
